@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #06172d;
    
}

@keyframes floating{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
}

.container{
    position: relative;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    min-height: 400px;
    margin: 50px 50px;
    background: linear-gradient(135deg, #061727, #1b1f4b, #7c3aed); 
    border: 1px solid #1b1f4b;
    animation: floating 5s ease-in-out infinite;
}

h1{ 
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: transparent;
}

.new-task{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}
.add-task{
    width: 100px;
    padding: 10px 5px;
    border: 1px solid #7c3aed; 
    background: #1b1f4b;
    border-radius: 10px;
    font-size: small;
}
.add-task:hover{
    background: linear-gradient(135deg, #061727, #1b1f4b, #7c3aed);
    font-size: large;
    padding: 6px 0px;
}

h2 , h3{
    background: transparent;
}

.task-section{
    display: flex;
    padding: 10px;
    border: none;
    background: transparent;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
  border-collapse: collapse;
  margin: 20px;
}

th, td {
  border: 1px solid #7c3aed;
  padding: 6px 20px;
}

input{
    background: #1b1f4b;
    overflow: hidden;;
}

button{
    background: #1b1f4b;
    border: 1px solid #7c3aed;
    padding: 5px;
    border-radius: 5px;
}
button:hover{
     background: linear-gradient(135deg, #061727, #1b1f4b, #7c3aed);
}
button:active {
  background-color: #dcdcdc;
  transform: translateY(1px);
}
 
